.pointer {
    cursor: pointer;
}

.mobile-text {
	display: inline-block;
}

.table {
	table-layout:fixed;
}
  
.table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: #fafafa;
}