.pointer {
    cursor: pointer;
}

.mobile-text {
	display: inline-block;
}

.dotted-border {
	border-style: dashed;
}

.file-drop-height {
	height: 300px;
}

.file-drop-index {
	z-index: -1;
}

.table {
	table-layout:fixed;
}
  
.table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: #fafafa;
}