<ng-template #uploadFileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="moveFileModalLabel">Upload files</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <div class="text-center file-drop-height" [ngClass]="{'dotted-border': dragOver}" (drop)="onFilesDropped($event)" (dragover)="onDragOver($event)"
      (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (click)="fileSelect.click()">

      <div *ngIf="!dragOver" class="file-drop-index">
        <img src="{{plusImage}}" style="margin-top: 70px;" height="100px" width="100px">
        <p class="display-4" style="font-size: 2rem;">Click here or drop files here.</p>
      </div>
      <div *ngIf="dragOver" class="file-drop-index">
        <p class="display-4" style="font-size: 2rem; margin-top: 130px;">Drop files within the box.</p>
      </div>

      <input type="file" class="d-none" multiple="multiple" #fileSelect (change)="onFilesSelected($event)" [disabled]="uploadingFile">
    </div>
  </div>

  <div *ngIf="uploadFiles.length > 0" class="modal-body">
    <table class="table table-sm">
      <tbody>
        <tr *ngFor="let file of uploadFiles;">
          <td class="fix-text" style="width: 80%" ><span>{{file.name}}</span></td>
          <td style="width: 10%">{{utils.getFileSize(file.size)}}</td>
          <td style="width: 10%">
            <button type="button" class="btn btn-danger btn-sm float-right" (click)="removeUploadFile(file)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-body" *ngIf="uploadingFile">
    <div class="row">
      <div class="col">
        <p><span class="fa fa-refresh fa-spin fa-fw"></span> {{ 'Uploading ... Remaining time: ' + uploadRemaining }}</p>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': uploadRatio + '%'}"
      [attr.aria-valuenow]="uploadRatio" aria-valuemin="0" aria-valuemax="100">{{ uploadRatio + ' %'}}</div>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="uploadSelectedFiles()" [disabled]="uploadingFile">Upload</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')" [disabled]="uploadingFile">Cancel</button>
  </div>
</ng-template>