<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="./">Share drive</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link pointer" [routerLink]="['/directory']">Directory</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link pointer">Share</a>
      </li>
      <li *ngIf="me" class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{me.avatar}}" style="border-radius: 50% 50% 50% 50%;" height="20px" width="20px"> {{me.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item disabled" href="#">{{me.userName}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item pointer" (click)="utils.logout()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div *ngIf="loadingPage" class="row mt-5">
    <div class="col-5"><span class="fa fa-refresh fa-spin fa-2x fa-fw float-right"></span></div>
    <div class="col-7"><h4 class="float-left">Loading ...</h4></div>
  </div>
  <div *ngIf="!loadingPage && editingShares" class="row">
    <div class="col">
      <table class="table mt-3" [ngClass]="(!loadingDirectory && loadDirectoryError == '') ? 'table-hover' : ''">
        <thead>
          <tr>
            <th style="width:5%">ID</th>
            <th style="width:45%">Shared path</th>
            <th style="width:15%">Expiration</th>
            <th style="width:15%">Created At</th>
            <th style="width:10%">Created By</th>
            <th style="width:10%">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="shares.length == 0">
          <tr class="text-center pointer" (click)="loadDirectory(directory)">
            <td colSpan="3">
              <div class="alert alert-success" role="alert">
                <h5 class="alert-heading">No files or folders are being shared now</h5>
                <br />
                <p>Files and folders can be shared in the directory tab</p>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="shares.length != 0">
          <tr *ngFor="let share of shares;">
            <td>{{share.id}}</td>
            <td class="fix-text">{{share.file}}</td>
            <td>{{utils.getCreatedTimeFromSeconds(share.expiration)}}</td>
            <td>{{utils.getCreatedTimeFromSeconds(share.created)}}</td>
            <td>{{share.creatorName}}</td>
            <td>
              <button class="btn btn-outline-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button class="btn btn-outline-danger ml-2"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
